@model ToDoItemModel

@* <a href="@Url.Action("EditTaskForm", new { id = Model.Id})"> *@
<form class="is__completed" asp-controller="ToDo" asp-action="ChangeIsCompleted">
    <input onChange="this.form.submit()"
           type="checkbox" asp-for="IsCompleted">
    <input type="hidden" asp-for="Id" value="@Model.Id">
</form>
<div class="task__info" data-modal-id="modal_@Model.Id">
    <span class="todo__item-title">@Model.Name</span>
    <div class="additional__info">
        @if (!string.IsNullOrWhiteSpace(Model.Description))
        {
            <div class="description">@Model.Description</div>
        }
        @if (Model.Deadline != DateTime.MinValue)
        {
            <div class="deadline">Deadline: @Model.Deadline</div>
        }
    </div>
</div>
@* </a> *@

<a class="remove" href="@Url.Action("RemoveTask", new { id = Model.Id })"></a>